@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600,700,800');

html {
    scroll-behavior: smooth;
    background-color: #263238;
}

#app {
    font-family: 'Prompt', sans-serif;
    background: url('../img/hexagons.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

#container {
    margin: 0;
    height: 100%;
    padding: 0;
}

.nav {
    height: 60px;
    width: 100%;
    text-align: center;
}

#logo {
    margin: 28px 40px;
    animation: rotation 6s infinite linear;
    -webkit-animation: rotation 6s infinite linear;
    float: left;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.burger {
    display: none;
}

.nav {
    display: inline;
}

.link-items {
    float: right;
    font-size: 28px;
    font-weight: 600;
    margin-right: 20px;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    margin: 20px;
    padding: 5px;
}

.links a {
    color: #fff;

}

/*Hamburger Menu */
.menu {
    background-color: #333;
    display: block;
    position: fixed;
    top: 10%;
    height: 100%;
    width: 280px;
    margin-left: -300px;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 2px 15px 1px rgba(255, 255, 255, 0.3);
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: all .4s;
}

#slide-menu {
    width: 20%;
    margin: auto;
    margin: 140px auto;
}

#slide-menu li {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 20px -10px;
}

#slide-menu a:hover {
    text-decoration: none;
}

.menu-show {
    box-shadow: 4px 2px 15px 1px #B9ADAD;
    margin: 0;
}

#one {
    border-bottom: 4px solid #CE93D8;
    border-radius: 4px;
    transition: all 0.5s;
}

#two {
    border-bottom: 4px solid #EEFF41;
    border-radius: 4px;
    transition: all 0.5s;
}

#three {
    border-bottom: 4px solid #F50057;
    border-radius: 4px;
    transition: all 0.5s;
}

#one:hover,
#two:hover,
#three:hover {
    color: #616161;
    text-decoration: none;
}

#one:hover {
    border-left: 4px solid #CE93D8;
}

#two:hover {
    border-left: 4px solid #EEFF41;
}

#three:hover {
    border-left: 4px solid #F50057;
}

/*headings*/

.heading {
    position: relative;
    font-size: 32px;
}

.heading span {
    display: inline-block;
}

.heading span:before,
.heading span:after {
    border-top: 4px solid #F50057;
    border-radius: 4px;
    display: block;
    height: 4px;
    content: '';
    width: 30%;
    position: absolute;
    left: 0;
    top: 0.7em;
}

.heading span:after {
    right: 0;
    left: auto;
}

/*About Section*/

#about {
    text-align: center;
    padding-top: 140px;
    height: 100vh;
    width: 100%;
}

#about h1 {
    text-decoration: underline #F50057;
    margin-top: 5px;
}

.bio {
    background-color: rgba(51, 51, 51, 0.8);
    height: 400px;
    width: 600px;
    margin: 40px auto 40px auto;
    border: 2px solid #fff;
}

#arrow-down {
    cursor: pointer;
}

/*Project*/
#projects {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 40px;
}

.card-container {
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.card {
    height: 280px;
    width: 250px;
    margin: 20px;
    color: #000;
    border: 4px solid #81D4FA;
}

.card img {
    height: 100px;
}

.card .btn {
    background-color: #f50057;
    color: #fff;
}

/*Contact*/
#contact {
    text-align: center;
    height: 100vh;
    margin-top: 20px;
}

#arrow-up {
    display: block;
    margin: 20px auto;
    transform: rotate(180deg);
    cursor: pointer;
}

.form-container {
    margin: 130px auto;
}



.form {
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 30%;
    height: auto;
}

.form input textarea {
    margin: 10px;
}

.form input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.form textarea {
    width: auto;
    height: 200px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.form .btn {
    background-color: #f50057;
    color: #fff;
}

.form input:active, .form input:focus, .form textarea:active, .form textarea:focus {
    border: 4px solid #81D4FA;
    border-radius: 4px;
}

/*media Queries*/