@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600,700,800');

html {
    background: #263238;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+*/
    overflow: -moz-scrollbars-none;
    /* Firefox */
}

#container {
    height: auto;
    background: url('../img/hexagons.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    overflow-y: scroll;
}

#container::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    /* WebKit */
    display: none;
}

.img {
    height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

#logo {
    margin: 28px 40px;
    animation: rotation 6s infinite linear;
    -webkit-animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

#list {
    float: right;
    list-style: none;
    margin: auto;
    margin: 40px;
    font-size: 24px;
    color: #fff;
}

#list a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

#list a:hover {
    color: #F06292;
}

.link {
    display: inline;
    margin: 40px;
}

#one {
    text-decoration: underline;
    text-decoration-color: #CE93D8;
}

#two {
    text-decoration: underline;
    text-decoration-color: #EEFF41;
}

#three {
    text-decoration: underline;
    text-decoration-color: #F50057;
}

#four {
    text-decoration: underline;
    text-decoration-color: #81D4FA;
}

.content {
    text-align: center;
    margin: auto;
    margin-top: 160px;
    height: 100%;
    top: 50%;
    margin-bottom: 60px;
}

#about {
    background-color: rgba(38, 50, 56, 0.7);
    width: 50%;
    height: 50%;
    margin: auto;
    border: 4px solid #fff;
    border-radius: 4px;
}

#about>h3 {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}

.arrow-down {
    margin-top: 5%;
    margin-bottom: 80px;
}

.arrow-up {
    transform: rotate(180deg);
    margin-top: 40px;
}


#projects {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
}

.heading {
    color: #fff;
    font-size: 32px;
    margin: 40px 0px 60px 0px;
}

.heading>span {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #F50057;
}

.heading>span:before,
.heading span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 4px solid #EEFF41;
    border-radius: 4px;
    width: 729px;
    margin: 0 60px;
}

.heading>span:before {
    right: 100%
}

.heading>span:after {
    left: 100%;
}

.card-container {
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-column-gap: 305px;
    grid-template-columns: auto auto;
    justify-items: center;
}

.card {
    display: inline-flex;
    margin-bottom: 40px;
}

.card img {
    border-radius: 4px 0px 0px 4px;
}

.card-body {
    background-color: #fff;
    width: 340px;
    height: 215px;
    border-radius: 0px 4px 4px 0px;
}

.card-body>p {
    margin-bottom: 80px;
}

.btn {
    color: #fff;
    padding: 8px 20px;
    background-color: #F50057;
    text-decoration: none;
    top: 90%;
    right: 0;
    position: relative;
}

#contact {
    height: 100vh;
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
}

#form-container form {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    margin-top: 140px;
}

.enter {
    width: 600px;
    height: 40px;
    border: none;
    margin: 20px;
    border: 2px solid #F50057;
    border-radius: 4px;
    transition: all 0.3s;
    font-weight: 600;
}

.enter:active,
.enter:focus {
    border-color: #EEFF41;
    outline: none;
}

.field {
    width: 600px;
    height: 20px;
    border: none;
    margin: auto;
    border: 2px solid #F50057;
    border-radius: 4px;
    padding: 0 0 180px 0;
    font-weight: 600;
}

.field:active,
.field:focus {
    border-color: #EEFF41;
    outline: none;
}

.submit {
    width: 100px;
    margin: auto;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit:hover,
.submit:focus,
.submit:active {
    background-color: #ff4081;
}