@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600,700,800');

html {
    background: #263238;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+*/
    overflow: -moz-scrollbars-none;
    /* Firefox */
}

#container {
    height: 100%;
    background: url('../img/hexagons.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    overflow-y: scroll;
}

#container::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    /* WebKit */
    display: none;
}


.img {
    height: 100vh;
    width: 100%;
    margin-bottom: 10%;
}

#top {
    display: none;
}

#logo {
    margin: 28px 40px;
    animation: rotation 6s infinite linear;
    -webkit-animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

#list {
    float: right;
    list-style: none;
    margin: auto;
    margin: 40px;
    font-size: 24px;
    color: #fff;
}

#list a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

#list a:hover {
    color: #F06292;
}

.link {
    display: inline;
    margin: 40px;
}

.menu-wrap {
    display: none;
}

#one {
    text-decoration: underline;
    text-decoration-color: #CE93D8;
}

#two {
    text-decoration: underline;
    text-decoration-color: #EEFF41;
}

#three {
    text-decoration: underline;
    text-decoration-color: #F50057;
}

#four {
    text-decoration: underline;
    text-decoration-color: #81D4FA;
}

.content {
    text-align: center;
    margin-top: 100px;
    height: 100vh;
    width: 100%;
}

#about {
    background-color: rgba(38, 50, 56, 0.7);
    width: 50%;
    height: 50%;
    margin: auto;
    border: 4px solid #fff;
    border-radius: 4px;
}

#about>h3 {
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
}

.arrow-down {
    margin: 100px;
}

#project-top {
    transform: rotate(180deg);
}

#contact-top {
    transform: rotate(180deg);
}

#projects {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    align-items: center;
}

.heading {
    color: #fff;
    font-size: 32px;
    margin: 20px 0px 60px 0px;
    width: 100vw;
}

.heading>span {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: #F50057;
}

.heading>span:before,
.heading span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 4px solid #EEFF41;
    border-radius: 4px;
    width: 500px;
    margin: 0 60px;
}

.heading>span:before {
    right: 100%
}

.heading>span:after {
    left: 100%;
}

.card-container {
    margin: auto;
    margin-bottom: 0;
    display: grid;
    grid-column-gap: 1%;
    grid-template-columns: auto auto;
    justify-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    display: inline-flex;
    margin-bottom: 40px;
}

.card img {
    border-radius: 4px 0px 0px 4px;
    height: 10em;
    width: 12em;
}

.card-body {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
    height: 10em;
    width: 18em;
}

.card-body>p {
    margin-bottom: 80px;
}

.btn {
    color: #fff;
    padding: 8px 20px;
    background-color: #F50057;
    text-decoration: none;
    right: 0;
    position: relative;
}

#contact {
    height: 100vh;
    text-align: center;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

#form-container form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 5%;
}

.enter {
    width: 100%;
    height: 40px;
    border: none;
    margin: 20px;
    border: 2px solid #F50057;
    border-radius: 4px;
    transition: all 0.3s;
    font-weight: 600;
}

.enter:active,
.enter:focus {
    border-color: #EEFF41;
    outline: none;
}

.field {
    width: 100%;
    height: 20px;
    border: none;
    margin: 20px;
    border: 2px solid #F50057;
    border-radius: 4px;
    padding: 0 0 180px 0;
    font-weight: 600;
}

.field:active,
.field:focus {
    border-color: #EEFF41;
    outline: none;
}

.submit {
    width: 100px;
    margin: auto;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit:hover,
.submit:focus,
.submit:active {
    background-color: #ff4081;
}

/*media queries*/

@media(max-width: 900px){
    
    .nav {
        display: inline-block;
        width: 100vw;
    }

    #top {
        margin: 0;
        margin: 20px;
        display: block;
        float: left;
        transition: all 0.5s;
    }

    #logo {
        margin: 20px;
        float: right;
        transition: all 0.5s;
    }

    .link {
        display: none;
    }
    
    .burger {
        float: right;
    }

    .arrow-up {
        display: none;
    }

    .arrow-down {
        display: none;
    }

    .menu-wrap {
        display: block;
        background-color: #263238;
        width: 100%;
        height: 55%;
        z-index: 1;
        list-style: none;
        margin: auto;
        margin-left: -900px;
        top: 10%;
        font-size: 24px;
        color: #fff;
        position: fixed;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 4px;
        transition: all .5s;
    }

    .show {
        margin: auto;
        margin-left: 0px;
        position: absolute;
        transition: .5s;
    }
    .menu-wrap ul {
        margin-top: 40px;
    }

    .menu-wrap li {
        border-bottom: 4px solid #81D4FA;
        width: 60%;
        margin: auto;
        padding-bottom: 20px;
    }

    .menu-wrap a {
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;
        margin: 30px;

    }

    .content {
        margin-top: 80px;
        height: 100%;
    }

    #about {
        width: 80%;
    }


    .heading>span:before,
    .heading span:after {
        content: '';
        position: absolute;
        top: 50%;
        border-bottom: 4px solid #EEFF41;
        border-radius: 4px;
        width: auto;
        margin: 0 60px;
    }
    
    .heading>span:before {
        right: 0;
    }
    
    .heading>span:after {
        left: 0;
    }

    #projects {
        height: 100%;
    }

    .card-container {
        display: block;
        margin:auto;
        text-align: center;
        width: 80%;
    }

    .card img {
        display: none;
    }
    
    .card{
        display: block;
        position: relative;
        margin: auto;
        width: 80%;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    #contact {
        margin-top: 80px;
        height: 100%;
    }

    #form-container {
        width: 60%;
        margin: auto;
        margin-bottom: 120px;
    }

    .enter, .field {
        margin: auto;
        margin-bottom: 20px;
    }

}

