.flex-layout {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
@media (max-width: 1200px) {
  .row,
  .even,
  .space,
  .center,
  .space-between,
  .start,
  .end {
    flex-wrap: wrap;
  }
}
.center {
  justify-content: center;
  align-items: center;
}

.even {
  justify-content: space-evenly;
  align-items: center;
}

.space {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.forward-row {
  flex-direction: row;
}

.reverse-row {
  flex-direction: row-reverse;
}
