@import '../../styles/Pallete.scss';
.input {
  position: relative;
  transition: all 0.4s;
  width: 100%;
  background: transparent;
  letter-spacing: 1.2px;
  input {
    padding: 0.4em 0.5em;
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    transition: all 0.4s ease;
    background: none;
  }
  label {
    transition: all 0.4s ease;
    pointer-events: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: none;
    font-weight: 600;
  }
}

.float {
  input:focus + label,
  input:active + label,
  input:valid + label {
    transform: translateY(-25px);
  }
}

.has-value {
  input + label {
    transform: translateY(-25px);
  }
}

.no-float {
  label {
    opacity: 1;
  }
  input:focus + label,
  input:active + label {
    opacity: 0.4;
  }
}

.hide {
  input:focus + label,
  input:active + label,
  input:valid + label {
    opacity: 0;
  }
}

.input-blue {
  input {
    border-bottom: 2px solid $Blue;
    &:focus,
    &:active {
      border-bottom: 2px solid $BlueHover;
    }
  }
  label {
    color: $Blue;
  }

  input:focus + label,
  input:active + label {
    color: $BlueHover;
  }
}

.input-red {
  input {
    border-bottom: 2px solid $Red;
    &:focus,
    &:active {
      border-bottom: 2px solid $RedHover;
    }
  }
  label {
    color: $Red;
  }

  input:focus + label,
  input:active + label {
    color: $RedHover;
  }
}

.input-gold {
  input {
    border-bottom: 2px solid $Amber;
    &:focus,
    &:active {
      border-bottom: 2px solid $AmberHover;
    }
  }

  label {
    color: $Amber;
  }

  input:focus + label,
  input:active + label {
    color: $AmberHover;
  }
}

.input-white {
  input {
    border-bottom: 2px solid $White;
    &:focus,
    &:active {
      border-bottom: 2px solid $WhiteHover;
    }
  }
  label {
    color: $White;
  }

  input:focus + label,
  input:active + label {
    color: $WhiteHover;
  }
}
