.project-manage {
  .upload-form {
    width: 80%;
    .add-btn {
      margin-left: 2em;
      font-size: 18px;
      height: 30px;
      width: 30px;
      line-height: 30px;
    }
    .input {
      margin: 1em auto;
    }
    .snack {
      display: inline-flex;
    }
    .snack-area {
      width: 40%;
      .add-snack {
        .add-btn {
          margin: 0;
        }
        width: 40%;
        margin: auto;
      }
      .snack {
        margin: 0.5em 1em;
      }
      .input {
        width: 80%;
        margin: 1em auto;
      }
    }

    .btn-group {
      width: 20%;
      margin-top: 1em;
      .btn {
        margin: auto 1em;
      }
    }
  }
}
