
.admin-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

        h3 {
            margin: auto;
            text-align: center;
        }
    .panel {
        margin: 8% auto 0 auto;
        width: 50%;
        border-radius: 6px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        background-color: #f9f9f9;
        a { 
            position: relative;
            z-index: 1000;
            svg {
                font-size: 32px;
                font-weight: 800;
                border-radius: 24px;
                padding: .2em;
                color: #333;
                background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
                background-blend-mode: normal, lighten, soft-light;
            }
        }
        form {
            padding: 14em 8em;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            width: 50%;
            margin: auto;
                button {
                    margin: auto;
                    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
                    background-blend-mode: normal, lighten, soft-light;
                }
        }   
    }
}
.project-upload {
    width: 80%;
    margin: 2em auto;
    border-radius: 6px;
    form {
        display: flex;
        flex-direction:column;
        width: 80%;
        margin: auto;
        button {
            margin: auto;
            width: 10%;
        }
    }
}