@import 'Theme';
@import 'Navbar';
@import 'Welcome';
@import 'About';

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
