@import 'Theme';
@import 'Navbar';
@import 'Welcome';
@import 'About';
@import 'Contact';
@import 'Projects';
@import 'Project';
@import 'Login';
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}

.snack {
  padding: 0.4em 0.8em;
  border-radius: 4px;
}

.in-process {
  background: $Amber;
}
.released {
  background: $Blue;
}

.error {
  color: $Red;
  text-align: center;
}
