.call-to-action {
    margin:auto;
    position: relative;
    background-color: rgba(255,255,255,0.7);
    width: 50%;
    padding: 2em 4em;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    margin-top: 5%;
    grid-column: 1;
    margin-left: 4em;
    line-height: 1.6;
    letter-spacing: .5px;
    font-size: 16px;
    text-align: center;
    p {
        width: 80%;
        margin: auto;
        font-weight: 500;
    }
}