$Amber: #ffe082;
$AmberHover: #ffd54f;

$Blue: #0277bd;
$BlueHover: #58a5f0;

$Red: #c24633;
$RedHover: #e57373;
$White: #f8f8f8;
$WhiteHover: #eeeeee;

$RedScheme: #f06292;
$BlueScheme: #82d4fa;
$YellowScheme: #eeff41;

$DarkMain: #212121;
$DarkSecondary: #000000;
$Highlight: #23eaa3;
$HighlightHover: lighten($Highlight, 20%);
