@import 'Pallete';

.projects {
  padding-top: 5%;
  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .project-wrapper {
    width: 70%;

    margin: auto;
    flex-direction: column;
    .nav-btn {
      position: absolute;
      top: -2.5em;
    }

    .forward {
      animation: slideRight 0.8s ease forwards;
      .nav-btn {
        left: 1em;
      }
    }
    .reverse {
      animation: slideLeft 0.8s ease forwards;
      .nav-btn {
        right: 1em;
      }
    }
    .project-wrapper-card {
      margin: 2em auto;
      border-radius: 4px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
      .detail-wrapper {
        position: relative;
        text-align: center;
        align-items: center;
        flex: 2;

        .snack {
          padding: 0.4em 0.8em;
          border-radius: 4px;
        }
        .in-process {
          background: $Amber;
        }
        .released {
          background: $Blue;
        }
      }

      .wrapper {
        flex: 1;
        max-width: 40%;
        img {
          border-top-right-radius: 4px;
          width: 100%;
        }
      }
    }
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
}
