.project {
  padding: 5% 0;
  .project-card {
    border-radius: 4px;
    padding: 1em 0;
    margin: auto;
    width: 80%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    height: 100%;
    .project-carousel {
      width: 90%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .project {
    padding-top: 20%;
    .project-card {
      width: 90%;
    }
  }
}
