.project {
    background-color: #f4f4f4;
    text-align: center;
    width: 20em;
    height: 400px;
    border-radius: 6px;
    box-shadow: 2px 2px 20px solid rgba(0,0,0,0.8);
    img {
        width: 20em;
    }
}