@import 'Pallete';

.projects {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .sidebar {
    flex: 0.8;
    height: 100vh;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);

    .tag-wrapper {
      width: 100%;
      margin: 6em auto;
      li {
        cursor: pointer;
        margin: auto;
        list-style: none;
        font-weight: 700;
        // border: 1px solid blue;
        width: 100%;
        text-align: center;
        padding: 1em 0;
        &:hover {
          background: $White;
        }
      }
    }
  }
  .project-container {
    flex: 3;
    margin-top: 4em;
    .spinner-wrapper {
      margin: auto;
      align-self: center;
    }
    .filters {
      width: 95%;
      margin: auto;
      height: 4em;
      .snack {
        margin: 1em;
        display: flex;
        align-items: center;
        .btn {
          margin-left: 1em;
          height: 30px;
          width: 30px;
          line-height: 30px;
        }
      }
    }
    .project-wrapper {
      height: 100%;
      width: 100%;
      margin: auto;
      align-self: flex-start;
      .card {
        margin: 1em;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 900px) {
}

@media (max-width: 500px) {
  .projects {
    padding-top: 20%;
  }
}
