.public {

    justify-content: center;
    align-content: center;
    text-align: center;

    // svg {
    //     position: absolute;
    //     bottom: 1em;
    //     left: 50%;
    //     margin: auto;
    //     font-size: 52px;
    // }
}