.social {
    position: fixed;
    top: 50%;
    font-size: 3.4em;
    display: flex;
    flex-direction: column;
    color: #EEFD41;
    background-color: rgba(0,0,0,0);
    transition: all 0.4s;
    padding-left: .5em;
    left: -.5em;
    border-radius: 0 6px 6px 0;
    z-index: 1000;
    a {
        color: #EEFD41;
    }
    svg {
        z-index: 1000;
    }
}

.social:hover {
    left:0;
    background-color: rgba(0,0,0,0.8);
    svg:hover {
        color: #F06292;
        cursor: pointer;
    }
}