.stack {
    background-color: rgba(255,255,255,0.7);
    padding: 2em;
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    height: 70%;
    margin: 50% 8em 0 -8em;
    ul {
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            font-size: 16px;
            margin-top: 1em;
            img {
                margin-left: 1em;
                height: 3em;
            }
        }
    }
}