@import 'Pallete';

.theme--wrapper {
  transition: all 0.4s ease;
}

.theme--dark {
  background-image: linear-gradient(
    to bottom,
    $DarkSecondary 0%,
    #141313 50%,
    $DarkMain 100%
  );
  .nav-layout {
    background: $DarkSecondary;
    nav {
      a {
        color: #757575;
        &:hover {
          color: #e0e0e0;
        }
      }
    }
  }
  .nav-active {
    border-bottom: 2px solid $Highlight;
  }
  .theme-toggle {
    background: $YellowScheme;
    border-color: $YellowScheme;
  }

  .animated-message {
    color: white;
    .toggle {
      color: $Highlight;
    }

    .toggle-off {
      color: $YellowScheme;
    }
  }

  .about {
    color: $White;
    .bubble {
      background: $DarkSecondary;
      &:after {
        border-right-color: $DarkSecondary;
      }
    }
  }
  .contact-wrapper {
    background: $DarkSecondary;
    .input {
      input {
        color: $White;
      }
    }
    textarea {
      color: $White;
      border-bottom: 2px solid $Highlight;
      &::placeholder {
        color: $Highlight;
      }
    }
  }
}

.theme--light {
  background-image: linear-gradient(
    to bottom,
    $WhiteHover 0%,
    #eee 50%,
    $White 100%
  );
  .theme-toggle {
    background: $DarkMain;
    border-color: $DarkMain;
    color: $WhiteHover;
  }

  .nav-active {
    border-bottom: 2px solid $RedScheme;
  }
  .nav-layout {
    background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
    nav {
      a {
        color: $DarkMain;
        &:hover {
          color: #757575;
        }
      }
    }
  }
  .animated-message {
    .toggle {
      color: $RedScheme;
    }

    .toggle-off {
      color: $BlueScheme;
    }
  }
  .about {
    .bubble {
      background: $WhiteHover;
      &:after {
        border-right-color: $WhiteHover;
      }
    }
  }
  .contact-wrapper {
    background: $White;
    .input {
      input {
        color: $DarkMain;
      }
    }
    textarea {
      color: $DarkMain;
      border-bottom: 2px solid $Blue;
      &::placeholder {
        color: $Blue;
      }
    }
  }
}
